fire==0.6.0
imjoy-rpc==0.5.48.post2
loguru==0.7.2
setuptools==69.0.3
hypha==0.15.50
bioimageio-collection-backoffice @ git+https://github.com/bioimage-io/collection@2598e4a
tomli==2.0.1; python_version < '3.11'

